* {
    margin: 0;
    padding: 0;
}

body{
    
}

nav{
    font-family: Ubuntu;
    margin-bottom: 10px; 
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.7rem;
}

form{
    margin-bottom: 10px;
}

.to-do-li{
    margin: 7px 1px;
}

.delete-btns{
    padding: 0.5px 7px;
}




